<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <ul>
    <li><a href="/auth/login">Login</a></li>
    <li><a href="/auth/register">Register</a></li>
    <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </nav>
    {{#if errors}}
    <!-- an array full of strings, so we use this to render each element-->
        {{#each errors}}
            {{this}}
        {{/each}}
    {{/if}}
     
        {{{body}}}
</body>
</html>