<section>
    <div>
        <h2>Login page</h2>
    </div>
    <form action="/auth/login" method="post">
        <div>
            <label for="email">
                Email
                <input
                        type="text"
                        name="email"
                        value="{{body.email}}"
                >
            </label>
        </div>
        <div>
            <label for="username">
                Username
                <input
                        type="text"
                        name="username"
                        value="{{body.username}}"
                >
            </label>
        </div>
        <div>
            <label for="password">
                Password
                <input type="password" name="password">
            </label>
        </div>
        <div>
            <input type="submit" value="Sign in">
        </div>
    </form>
</section>